@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Ubuntu:ital,wght@0,400;1,300;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    //font-family: 'Rubik Iso', cursive; // 400
    font-family: 'Ubuntu', sans-serif; // 300, 400, 700
    font-weight: 400;
    text-align: center;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #00BCD4;
    color: #333;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.switch-btn {
    position: fixed;
    top: 30px;
    right: 10px;
    width: 60px;
    height: 30px;
    display: flex; 
    justify-content: start;
    background-color: #ffffffb3;
    border: 2px solid rgb(3, 126, 197);
    border-top-left-radius: 50% calc(65px/2);
    border-bottom-left-radius: 50% calc(65px/2);
    border-top-right-radius: 50% calc(65px/2);
    border-bottom-right-radius: 50% calc(65px/2);
    transition: .6s, display 1s;
    cursor: pointer;
}
.switch-btn div {
    width: 27px;
    height: 27px;
    background-color: #3ef6e6;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    cursor: pointer;
}

/* INICIO - CONFIGURACION MODO OSCURO */
.dark-mode {
    background-color: #00333a;
}
.dark-mode .switch-btn {
    display: flex; 
    justify-content: end; 
    background-color: #132029b3;
}
.dark-mode .personal {
    background-color: #252525;
    color: white;
}

.dark-mode .main .articles-container article {
    background-color: #008c9e;
    color: #252525;
}

.dark-mode .articles-container h1{
    color:#00333a;
}
/* FIN - CONFIGURACION MODO OSCURO */

.personal {
    grid-column-start: 1;
    grid-column-end: 4;
    min-width: 300px;
    height: 100vh;
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-color: #c7fffa;
    color: #333;
    box-shadow: inset 0 0 10px black;

    img {
        width: 250px;
        height: 250px;
    }
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.personal ul {
    list-style: none;
}

.personal ul p {
    position: relative;
    margin: 10px;
    cursor: pointer;
    transition: transform .3s;
}

.personal ul p:hover {
    transform: scale(130%);
    color: #008c9e;
}

.main {
    grid-column-start: 4;
    grid-column-end: -1;
    margin-top: 1px;
}

.articles-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    article {
        width: 100%;
        min-width: 300px;
        min-height: 50vh;
        padding: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 10px solid rgb(3, 126, 197);
        background-color: white;
        color: #252525; 
        overflow: hidden;

        h1 {
            margin-bottom: 10px;
            border-bottom: 2px solid black;
            font-family: 'Rubik Iso', cursive;
            font-weight: 700;
            font-size: 2rem;
            text-align: end;
            color: black;
        }
        h1::after {
            content: "";
            height: 2rem;
            border-right: 3px solid black;
            animation-name: barra;
            animation-duration: .9s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }

        p {
            font-size: 1.3rem;
        }
    }
}

@keyframes barra {
    0% {
        border-right: hidden;
    }
    100% {
        border-right-color: black;
    }
}

/* SECCION DE PROYECTOS */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
    .card {
        width: 15rem;
        transition: transform .3s;
        box-shadow: 0 0 2px #333;
        z-index: 1;
        transition: all .2s;
    }

    .card:hover {
        transform: scale(1.03);
        box-shadow: 0 0 10px .1px #333;
        cursor: pointer;
        z-index: 10;
    }

}

/* SECCION DE HABILIDADES */
.skills-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skills-container img {
    width: 70px;
    height: 70px;
}

/* FOOTER */
.footer {
    grid-column-start: 4;
    grid-column-end: -1; 
    min-height: 400px;
    margin-top: 20px;
    padding: 15px 5px;
    background-color: rgb(12, 17, 21);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer h1 {
    margin-bottom: 30px;
    margin-left: 10px;
    font-family: 'Rubik Iso', cursive;
    font-weight: 500;
    font-size: 2rem;
    text-align: end;
    text-transform: uppercase;
    text-decoration-style: wavy;
}

.footer img {
    width: 70px;
    height: 70px;
    margin: 8px 0;
    cursor: pointer;
}

.footer div {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* CONFIGUACION MEDIAS QUERIES (RESPONSIVE) */

@media only screen and (max-width: 950px) {
    .personal {
        grid-column-start: 1;
        grid-column-end: -1;
        position: relative;
        height: auto;
        margin-bottom: 20px;
    }
    .main {
        grid-column-start: 1;
        grid-column-end: -1;
        width: 100%;

        #dark-mode-btn {
            position: absolute;
            top: 30px;
            right: 15px;
        }
    }
    .articles-container {
        width: 95%;
        margin: 0 auto;
    }
    article {
        border-radius: 10px;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

@media only screen and (max-width: 300px) {
    body {
        grid-template-columns: 1fr;
    }
    .main #dark-mode-btn {
        position: absolute;
        top: 30px;
        right: 0;
    }
    .articles-container {
        width: 100%;
    }
    article {
        min-width: 150px;
        border-radius: 5px;
    }
    .personal {
        img {
            width: auto;
            height: 100px;
        }
    }
}